{% extends "templates/index.html" %}

{# tittle: Nuevo Usuario
  #}
  {% block title %}Nuevo Usuario{% endblock %}

  {# contenido central de la página
    #}
{% block content %}
<div class="col-sm-6 col-sm-offset-3">
  <h1>Usuario</h1>
  <form role="form" class="form-horizontal" action="/usuario" method="post">
    <div class="form-group">
      <label for="nombre">Nombre: </label>
      <input class="form-control" type="text" id="nombre" name="nombre"/>
    </div>
    <div class="form-group">
      <label for="apellidos">Apellidos: </label>
      <input class="form-control" type="text" id="apellidos" name="apellidos"/>
    </div>
    <div class="form-group">
      <label for="email">Email: </label>
      <input class="form-control" type="text" id="email" name="email"/>
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono: </label>
      <input class="form-control" type="text" id="telefono" name="telefono"/>
    </div>
    <div class="form-group">
      <label for="twitter">Twitter: </label>
      <input class="form-control" type="text" id="twitter" name="twitter"/>
    </div>
    <div class="form-group">
      <label for="web">Web: </label>
      <input class="form-control" type="text" id="web" name="web"/>
    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input class="form-control" type="text" id="password" name="password"/>
    </div>
    <input type="submit" class="btn btn-success btn-block" value="Guardar">
  </form>
</div>
</p>

{% endblock %}
