{% extends "templates/index.html" %}

{# tittle: titulo de la página
  #}
  {% block title %}Eventos{% endblock %}

  {# contenido central de la página
    #}
    {% block content %}
    <div class="col-sm-12">
      {% for n in asistentes %}
        <div class="col-sm-4 asistente-container">
          <div class="col-sm-12 asistente-content">
            <h5><strong>Nombre:</strong> {{n.nombre}}</h5>
            <h5><strong>Apellidos:</strong> {{n.apellidos}}</h5>
            <h5><strong>Email:</strong> {{n.email}}</h5>
            <h5><strong>Teléfono:</strong> {{n.telefono}}</h5>
            <h5><strong>Twitter:</strong> {{n.twitter}}</h5>
          </div>
        </div>
      {% endfor %}
    </div>

  {% endblock %}
