/*
header a{
  color: white;
  padding: 0;
  margin: 0;
  line-height: 70px;
  font-weight: bold;
  font-size: 30px;
}

header small {
  color: #434343;
}*/

body {
  padding-top: 80px;
  font-family: verdana;
  font-size: 12px;
  }

.navbar {
  height: 70px;
  padding: 10px;
  background-color: #C11F23;
  color: white;

  }

  .navbar a {
    color: white !important;
  }

.navbar-header {
  font-size: 22px;
}

.navbar-header small {
  font-size: 14px;
}

.dropdown-menu {
  background-color: #f0f0f0;
  color: #3e3e3e !important;
}

.dropdown-menu a {
  color: #3e3e3e !important;
}
