.title {
  background: white;
  padding: 0;
  height: 40px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin-bottom: 20px;
}

.title h3 {
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 40px;
  font-size: 1.3em;
  font-weight: bold;
}

.ponente {
  position: relative;
  background: #fff;
  margin-top: 50px;
  padding: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,.10);
  color: black;
  border-radius: 5px;
}

.ponente .imagen {
  background: #fff;
  position: absolute;
  height: 85px;
  width: 85px;
  top: -40px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-radius: 100px;
  z-index: 1;
}

.ponente .imagen img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ponente .detalles1 {
  margin-bottom: 5px;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  padding: 58px 5px 5px 5px;
  background: #f8f8f8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ponente .detalles h2,
.ponente .detalles h3,
.ponente .detalles h4 {
  margin: 0;
  padding: 8px 5px 5px 5px;
}

.ponente .detalles h2 {
  color: #323232;
  font-size: 16px;
  font-weight: bold;
}

.ponente .detalles h3 {
  color: #6f6f6f;
  font-size: 14px;
  font-weight: bold;
}

.ponente .detalle-d h4 {
  text-align: center;
  color: #656565;
  font-size: 14px;
}

.ponente .detalle-t,
.ponente .detalle-w {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ponente .opciones {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 1;
}

.ponente .opciones a {
  font-size: 14px;
  padding: 0 3px;
}
